<!DOCTYPE html>
<html>
  <head>
    <title>GGS Challenge 2</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="./style.css" />
  </head>
  <body>
    <header class="header">
      <h1>Gerardo Garcia</h1>
      <nav>
          <ul>
              <li>
                  <a href="#About-Me">About Me</a>
              </li>
              <li>
                  <a href="#Work">Work</a>
              </li>
              <li>
                  <a href="#Contact-Me">Contact Me</a>
              </li>
              <li>
                <a href="#Resume">Resume</a>
            </li>
          </ul>
      </nav>
    </header>
    <section class="hero">
      <div>
          <img src="./FOTO ID.jpg" alt="Photo GGS">
      </div>
      <div class="quote">
              <p id="quote-text">
                 Success is stumbling from failure to failure with no loss of enthusiasm
                 -Winston Churchill
              </p>
      </div>
  </section>
    <main class="content">
      <div id="About-Me" class="About-Me">
          <h2>About Me</h2>
          <p>
              I am a physician invested in continuing education. I intend to pursue a further honing in my current skills
          </p>
      </div>
      <div id="Work" class="Work">
          <h2>Work</h2>
          <div class = "container">
            <a href="https://google.com/">
              <div class="Google">
                <h3>Google site</h3>
              </div>
            </a>
            <a href="https://youtube.com/">
              <div class="Youtube">
                <h3>Youtube site</h3>
              </div>  
            </a>
          </div>    
      </div>
      <div id="Contact-Me" class="Contact-Me">
          <h2>Contact Me</h2>
            <section class="Contact">
              <p>8711159684</p>
              <p>gergasa94@gmail.com</p>
              <p>GitHub</p>
            </section>
      </div>
      <div id="Resume" class="Resume">
        <h2>Resume</h2>
        <p>
            .
        </p>
    </div>
    </main>
    <footer class="footer">
      <h2>Made with a lot of enthusiasm</h2>
    </footer>
  </body>
</html>